<div class="board">
    <!-- <form (submit)="addTodo()" >  -->
    <!-- [(ngModel)]="inputTodo" -->
    <form (submit)="addTask()">
        <input type="text" name="inputTask" placeholder="Enter task instructions" [(ngModel)]="inputTask"
            class="task-input" />
        <input type="submit" value="Add task" class="task-submit" />
    </form>
    <div cdkDropListGroup>
    
        <div class="board-column">
            <div class="title-container">
                <p class="title">To Do</p>
            </div>
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" class="tasks-area"
                (cdkDropListDropped)="drop($event)">
                <div class="task-container" *ngFor="let item of todo; let i=index;" cdkDrag>
                    {{item}}
                    <button (click)="deleteTask(todo, i)">Delete</button>
                </div>
            </div>
        </div>
        <div class="board-column">
            <div class="title-container">
                <p class="title">Implementing</p>
            </div>
            <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress" class="tasks-area"
                (cdkDropListDropped)="drop($event)">
                <div class="task-container" *ngFor="let item of inProgress; let i=index;" cdkDrag>
                    {{item}}
                    <button class="delete-button" (click)="deleteTask(inProgress, i)">Delete</button>
                </div>
            </div>
        </div>
        <div class="board-column">
            <div class="title-container">
                <p class="title">Done</p>
            </div>
            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" class="tasks-area"
                (cdkDropListDropped)="drop($event)">
                <div class="task-container" *ngFor="let item of done; let i=index" cdkDrag>{{item}}
                    <button (click)="deleteTask(done, i)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
