.board {
    display: inline-block;
    min-width: 100vh;
    min-height: 500px;
}

.board-column {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: whitesmoke;
    color: black;
    width: 50vh;
    min-height: 50vh;
    vertical-align: top;

}
.title-container {
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
}
.tasks-area {
    text-align: center;
}
.task-container {
    background-color: yellow;
    color: black;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.task-left {
    border: 1px solid black;
    height: fit-content;
    padding: 2px;
}


.task-right {
    border: 1px solid black;
    height: fit-content;
    padding: 2px;
}
