<div class="board">
    <!-- <form (submit)="addTodo()" >  -->
    <!-- [(ngModel)]="inputTodo" -->
    <form (submit)="addTask()">
        <input type="text" name="inputTask" placeholder="Enter task instructions"
        [(ngModel)]="inputTask"
        class="task-input" />
        <input type="submit" value="Add task" class="task-submit" />
    </form>
    <div class="board-column">
        <div class="title-container">
            <p class="title">To Do</p>
        </div>
        <div class="tasks-area">
            <div class="task" *ngFor="let task of todo; let i = index">
                <div class="task-container">
                    <div class="task-left">H</div>
                    <div class="task-content" (click)="deleteTask(todo, i)">
                        {{ task }}
                    </div>
                    <div class="task-right"(click)="moveTask(todo, inProgress, i)">L</div>
                </div>
            </div>
        </div>
    </div>
    <div class="board-column">
        <div class="title-container">
            <p class="title">Implementing</p>
        </div>
        <div class="tasks-area">
            <div class="task" *ngFor="let task of inProgress; let i = index">
                <div class="task-container">
                    <div class="task-left" (click)="moveTask(inProgress, todo, i)">H</div>
                    <div class="task-content" (click)="deleteTask(inProgress, i)">
                        {{ task }}
                    </div>
                    <div class="task-right" (click)="moveTask(inProgress, done, i)">L</div>
                </div>
            </div>
        </div>
    </div>
    <div class="board-column">
        <div class="title-container">
            <p class="title">Done</p>
        </div>
        <div class="tasks-area">
            <div class="task" *ngFor="let task of done; let i = index">
                <div class="task-container">
                    <div class="task-left" (click)="moveTask(done, inProgress, i)">H</div>
                    <div class="task-content" (click)="deleteTask(done, i)">
                        {{ task }}
                    </div>
                    <div class="task-right">L</div>
                </div>
            </div>
        </div>
    </div>
</div>
