.task-container {
    background-color: yellow;
    color: black;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.task-left {
    justify-content: center;
    border: 1px solid black;
    height: fit-content;
    padding: 2px;
}


.task-right {
    justify-content: center;
    border: 1px solid black;
    height: fit-content;
    padding: 2px;
}

.task-content {
    text-align: center;
    display: inline-block;
    width: 80%;

}